body {
    font-family: 'Roboto', sans-serif;
}

.callout-container {
    height: 100vh;

    background: url(../img/pexels-cottonbro-4694568.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


.alert-container {}

.quotes-container {}


.features-container {}

/*Jumbotron*/

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    margin: 25px 0;
    color: #a7a7a7;
}

jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #a7a7a7;
}

